/* https://www.figma.com/file/svdGvLdW7PlSDa2cKZYNup/03.-Dental-Care-Landing-Page-(Easy)?node-id=16%3A2&mode=dev */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
}

body {
    /* font-family: "Open Sans", sans-serif; */
    font-size: 1.6rem;
}