/* https://www.figma.com/file/svdGvLdW7PlSDa2cKZYNup/03.-Dental-Care-Landing-Page-(Easy)?node-id=16%3A2&mode=dev */
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "Sora", sans-serif;
}

body {
    /* font-family: "Open Sans", sans-serif; */
    font-size: 1.6rem;
}
:root {
    --primary-color: #10375c;
}

/* common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: #fff;
}

.btn {
    --height: 60px;
    display: inline-block;
    height: var(--height);
    min-width: 205px;
    color: #fff;
    text-align: center;
    line-height: var(--height);
    font-size: 1.8rem;
    font-weight: 400;
    border-radius: 22px;
    border: 1px solid #2e80ce;
    outline: none;
    background: #2e80ce;
}

.btn:hover {
    opacity: 0.8;
}

.section__heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section__desc {
    color: #575f66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}
/* header */
.header {
    padding: 30px 0px 110px;
    min-height: 100vh;
    background-color: var(--primary-color);
    font-size: 1rem;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    gap: 0.6em;
}

.logo__text {
    text-align: right;
    color: #fff;
    line-height: 1.4em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* Navbar */
.navbar__list {
    display: flex;
    transition: all 0.5s ease;
    gap: 0 42px;
}

.navbar__link,
.action__login {
    color: #c9d2da;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__item:hover .navbar__link,
.navbar__item--active .navbar__link {
    color: #fff;
    text-shadow: 0.8px 0 0 currentColor;
}

.navbar__item--active::before {
    content: "";
    position: relative;
    bottom: 3px;
    left: -8px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

/* Actions */
.action__login {
    margin-right: 28px;
}

.action__signup {
    --height: 44px;
    min-width: 104px;
    font-size: 1.6rem;
    transition: all 0.25s ease-in;
}

.action__signup:hover {
    background-color: #fff;
    color: var(--primary-color);
}

/* Hero */
.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 76px;
}

.hero__content {
    flex-shrink: 0;
    width: 44%;
}

.hero__heading {
    /* flex: 1; */
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.44;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.67;
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #fff;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
}

.hero__image {
    display: flex;
    align-items: center;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* service */
.service {
    margin-top: 85px;
    padding: 85px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    margin-top: 18px;
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__img {
    display: inline-block;
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
}

.service__list {
    margin-bottom: 55px;
}

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    border-radius: 10px;
    border-radius: 10px;
    background: #fff;
}

.service-item__content {
    margin-left: 19px;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #10375c;
    background-color: #eff6fd;
}

.service-item:hover .service-item__icon {
    color: #fff;
    background-color: #2e80ce;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* works */
.work {
    margin: 85px 0;
    padding: 100px 0;
    background-color: #f6fbff;
}

.work .work__desc {
    margin-top: 18px;
    width: 486px;
}

.work__list {
    margin-top: 86px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 30px;
}

.work-item {
    background-color: #fff;
    border-radius: 4px;
    padding: 43px 42px;
}

.work__item--border {
    padding: 16px;
    background-color: #eaf6ff;
    border-radius: 4px;
    transition: all 0.25s ease;
}

.work__item--border:hover {
    transform: translateY(-16px);
    background-color: #2e80ce;
}

.work-item__heading {
    color: #10375c;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-item__desc {
    margin-top: 28px;
    color: #575f66;
    font-weight: 300;
    line-height: 28px;
}

.work-item__more {
    display: inline-block;
    margin-top: 18px;
    color: #2e80ce;
}

/* about */

.about {
    padding: 85px 0;
}

.about__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.about__media {
    width: 48%;
}

.about__images {
    position: relative;
    padding-bottom: 121px;
    padding-right: 58px;
}

.about__img {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.about__img:last-child {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 332px;
    height: 370px;
}

.about__info {
    /* padding: 82px 0; */
    width: 40%;
}

.about__desc {
    margin-top: 18px;
}

.about__btn {
    margin-top: 38px;
}

/* member */
.member {
    padding: 85px 0;
}

.member__info {
    text-align: center;
}

.member__btn {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0px 30px;
    margin-top: 70px;
}

.member-item:hover .member-item__img {
    transform: scale(1.1);
}

.member-item__bg-img {
    padding-top: 28px;
    border-radius: 6px;
    background: #eaf6ff;
    transition: all ease 0.25s;
}

.member-item__images {
    border-radius: 6px;
}

.member-item__img {
    object-fit: cover;
    border-radius: 6px;
    max-width: 100%;
    height: 290px;
}

.member__name {
    margin-top: 12px;
    color: #10375c;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.member__desc {
    color: #575f66;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.section__control {
    text-align: center;
    margin-top: 38px;
}

.section__control--circle {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: #fff;
    border-radius: 36px;
    color: #575f66;
    border: 1px solid #575f66;
}

.section__control--circle:hover {
    cursor: pointer;
    color: #fff;
    border: 1px solid #2e80ce;
    background-color: #2e80ce;
}

.section__control--prev {
    margin-right: 18px;
}

/* install */
.install {
    margin-top: 180px;
}

.install__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2e80ce;
    padding: 0px 70px;
}

.install_inner--img {
    display: block;
    margin-top: -95px;
    width: 284px;
    height: 522px;
    object-fit: cover;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    margin-bottom: 18px;
    max-width: 489px;
}

.install__row {
    display: flex;
    gap: 0px 28px;
    margin-top: 38px;
}
